ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

li:hover {
    background-color: rgb(255, 191, 73);
    cursor: pointer;
}

.container {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

h4 {
    color: gray;
    text-align: center;
}

.price {
    float: right;
    color: gray;
}

.energy-value {
    color: gray;
    font-size: 0.9em;
}