<div *ngIf="products" class="container">
  <ingredient-description *ngIf="selectedProduct" [product]="selectedProduct" (onClose)="clearSelect()">
    <ng-content></ng-content>
  </ingredient-description>
  <h4>
    Продукты
  </h4>
  <ul>
    <li *ngFor="let product of products" (click)="selectProduct(product)"
      [ngClass]="{'selected-element': selectedProduct!=null && product.id == selectedProduct.id}">
      <div>
        <span>{{product.name}}</span>
        <span class="price">{{product.cost}}р.</span>
      </div>
      <div class="energy-value"> Б: {{product.energyValue.proteins}}, Ж: {{product.energyValue.fats}},
        У: {{product.energyValue.carbohydrates}}, ккал: {{product.energyValue.calories}}</div>
    </li>
  </ul>
</div>

<p *ngIf="!products">Loading...</p>