<header>
    <nav>
        <ul>
            <li routerLinkActive="activeLink" class="link" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="">Главная</a>
            </li>
            <li routerLinkActive="activeLink" class="link">
                <a routerLink="/product/create">Создать продукт</a>
            </li>
        </ul>
    </nav>
</header>
<section class="main-section">
    <aside class="left-side">
        <product-list (select)="description.setProduct($event)" #list></product-list>
    </aside>
    <router-outlet></router-outlet>
</section>

<section class="hide">
    <create-product #editor (onAdded)="list.ngOnInit()"></create-product>
    <ingredient-description #description></ingredient-description>
    <product-list (select)="description.setProduct($event)" #list></product-list>
</section>